
*{ font-family: Ubuntu, sans-serif;
}
 html,body {
    background-color: #e0e0e0;
    height: 100%;
    width: 100%;
    margin: 0%;
   
}
.hotel-name-rating {
    padding: 3% 3% !important;
}
.heading {
    font-family: cursive !important;
    text-align: left;
}
.main-container {
    width: 100%;
    height: 100%;
}
.header-footer {
    background-color:rosybrown;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    top: 0;  
}
footer {
   
    bottom: 0;
}
#socialmedia {
    height: 20px;
    width: 22px;
}
#social-media-images {
    margin-right: 3%;
}
.social-media-image {
    height: 20px;
    width: 22px;
}
.text-center {
    position: absolute;
    top: 50%;
    left: 36%; 
    right: 36%;
    bottom: 50%;
}
.text-right {
    height: 50px;
    display: flex;
    align-items: right;
    justify-content: right;
}
a.loginstyle:link {
    color: black;
    text-decoration: none;
    text-align: right;
}
a.contactstyle:link {
    color: black;
    text-decoration: none;
    padding-left: 3%;
}
#logo {
    width: 60px;
    height: 60px;
    vertical-align: center;
}
p {
    font-size: 10px;
    text-align: center;
    color: #000000;
    margin-top: 1.6%;
  
}