

#hotelbackground {
    margin: 4% 5% 0% 5%; 
    background-color: lightgrey;
    width: 40%;
    float: left;
    display: flex;
    justify-content: start;
    align-content: center;
   }
   
   #hotelbackground:hover {
    background-color: rosybrown;
}
#logo {
    width: 60px;
    height: 60px;
    vertical-align: center;
}

#imagesize {
    height: 200px;
    width: 250px;
}



.text-list-view-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.item {
    width: 10em;
} 


#list-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
}
#list-view{
    justify-items: center;
   display: flex;
   position: absolute;
   left: 42%;
    justify-content: center;
    text-decoration: none;
}
#map-view {
    position: absolute;
    left: 50%;
    justify-items: center;
   justify-content: center;
   text-decoration: none;
}
#float-container{
    height: 100%;
    width: 100%;
    padding-top:1%;
    padding-bottom: 12%;
  
 
   
    
}
#text-decoration{
    text-decoration: none;
    color: black;
}

#info-margin{
    margin-left:3%;
}
#list-map {
    position: relative;
    top: 0%;
}

#pills-tab {
    justify-content: center;
}

