#img{
  max-height:300px;
  max-width:270px;
}
#hotelbackground{
 background-color: rgb(132, 136, 139);
    width: 50%;
    height: 20%;
    margin: 2% auto;
    display: flex;
    align-items: center;
    }
  
   #margin-boxborder{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: black 1px solid;
    border-radius: 5px;
    margin: 0% 2%;
    background-color: rosybrown;
}
   
   #margin-top{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    align-content: center;
   }
   #payNow{
   margin-top: 4%;
   margin-bottom: 4%;
     padding-left: 0%;
     text-align: left;
     justify-self: left;

    
     
   }
   .text-decoration{
     text-decoration: none;
     color: black;
   }
   .font-size{
     text-align: left;
     font-size: 15px;
   }